*{margin: 0; padding: 0;}
body{
    background:linear-gradient(rgba(252, 249, 249, 0.596),rgb(233, 231, 231));
    background-size: cover;
}
.container3{
    position: absolute;
    margin-left: 50%;
    bottom: 20px;
    top: 900px;
    height: 500px;
    width: 40%;
    border-radius: 1rem;
    box-shadow: 5px 5px 3px 3px;
}
.container3 img{
    margin-left: 20px;
    margin-top: 10px;
height: 200px;
border-radius: 1rem;
}
.container3 h1,p{
    margin-left: 10px;
}
.container3 p{
    border: 1px solid black;
    font-size: 20px;
    margin-right: 10px;
}
.paragraph{
    color: #3f7f9c;
    font-size: 23px;
}
.h1.h1{
    font-size: 30px;
}
h2{
    margin-left: 60px;
}
.top{
    padding: 30px;
    width: 95.5%;
    background-color: rgb(4, 4, 61);
}
.select {
    padding: 8px 95px;
    border-radius:2rem ;
    margin-left: 130px;
}
.container,#form1{
    
    height: 40%;
    width: 50%;
    margin-left: 70px;
    margin-top: 50px;
}
.heading{
    font-style: italic;
    font-size: 100pxp;
    font-weight: bolder;
}
label{
    font-size: 20px;
    color:#3f7f9c;
    font-style:italic;
}
button,#button{
    padding: 10px 50px;
    margin-left: 300px;
    border-radius: 2rem;
    background-color:rgb(82, 74, 74) ;
    color: #fff;
}
button:hover,#button:hover{
    background-color: #fff;
    color: #000;
}
table{
    margin-top: 70px;
    margin-right: 220px;
    width: 30%;
    height: 400px;
    border-collapse: collapse;
}
th,td{
   background:linear-gradient(rgb(135, 135, 240),rgb(83, 83, 190),rgb(129, 129, 160));
}
th,td{
    border: 2px solid #a3d3ee;
    color:#f8f2f2; 
}
td{
    padding-left: 50px;
}
.color{
    color: black;
}
#result,#final{
    margin-left: 130px;
    padding: 2px 60px;
    border-radius: 2rem;
    font-size: 15px;
}
.end{
    background:linear-gradient(rgb(12, 10, 24),rgb(13, 4, 36)) ;
    font-size: 20px;
    height: 70px;
    color: rgb(249, 250, 252);
}
.name{
    padding: 8px 65px;
    border-radius:2rem ;
    margin-left: 70px;
}
#n1,#n2{
    padding: 8px 95px;
    border-radius:2rem ;
    margin-left: 130px;
}
.Register{
    padding: 8px 65px;
    border-radius:2rem ;
    margin-left: 65px;
}    
.formula img{
    margin-left: 15%;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 60%;
    height: 60%;
}
.inside{
    position: relative;
    padding: 50px;
    width: 70%;
    margin-left:50px;
    margin-top: 10px;
    border-radius: 2rem;
    margin-bottom: 10px;
}
.image img{
    width: 60%;
    height: 50%;
    border-radius: 0px 0px 30px 30px;
    margin-top: 50px;
}
@media only screen and (max-width:900px){
    
    .top{
    width: 90%;
    padding: 20px;
    }
    table{
        position: absolute;
        display: flexbox;
        margin-top: 1380px;
        margin-left: 10px; 
    }
    .end{
        margin-top: 120%;
        width: 90%;
    }
    .container,#form1{
    height: 30%;
    width: 40%;
    margin-left: 30px;
    }
   .container .select {
        padding: 8px 65px;
        margin-left: 10px;
    }
   .container #result,#final{
        margin-left: 40px;
        padding: 1px 30px;
        font-size: 15px;
    }
   .container button,#button{
        padding: 10px 50px;
        margin-left: 150px;
    }
.container label{
    font-size: 14px;
   }
   h1{
    width: 200%;
    font-size: 20px;
   }
   .container2{
    margin-top: 480px;
   }
   .name,.Register{
    padding: 8px 55px;
    margin-left: 40px;
   }
   #n1,#n2{
    padding: 8px 55px;
    margin-left: 60px;
}
}
