<div 
style="display: flex; 
align-items: center; 
justify-content: center;
height: 100vh;
background:url('../favicon.ico') no-repeat ;
background-size:cover;
"
 >
 
<form action="" (submit)="onSubmit()">
  <marquee><img src="./R.gif"></marquee>
  <div>
  <div>name</div>
  <input type="text" 
  placeholder="name" 
  name="name" 
  [(ngModel)]="user.name"
  />
  @if(!user.name){
  <p>name is not entered</p>
  }
  @if(user.name){
    <p>welcome</p>
    }
  </div>

  <div>
  <div>password</div>
  <input type="text" 
  placeholder="password" 
  name="password" 
  [(ngModel)]="user.password"
  />
  </div>

  <div>
  <div>email</div>
  <input type="text" 
  placeholder="email"
   name="email" 
   [(ngModel)]="user.email"
   />

  <button type="submit">button</button>
  </div>
</form>
</div>